/* Queries for Making Navbar Responsive */

@media only screen and (max-width: 1477px){
    .navbar-brand {
        margin-right: 6rem;
    }
}

@media only screen and (max-width: 1462px){
    .navbar-brand {
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 1445px){
    .navbar-brand {
        margin-right: 4rem;
    }
}

@media only screen and (max-width: 1429px){
    .d-flex .me-2 {
        margin-left: 20px;
        
        line-height: 24px;
        padding: 7px 180px 10px 15px;
    }
}
@media only screen and (max-width: 1413px){
    .d-flex .me-2 {      
        padding: 7px 150px 10px 15px;
    }
}
@media only screen and (max-width: 1382px){
    .d-flex .me-2 {      
        padding: 7px 90px 10px 15px;
    }
}
@media only screen and (max-width: 1334px){
    .d-flex .me-2 {      
        padding: 7px 50px 10px 15px;
    }
}
@media only screen and (max-width: 1290px){
    .sub-container-icon-nav {
        font-size: 10px;
    }
    .navbar-brand {
        margin-right: 5rem;
    }
    .navbar-nav.me-auto.mb-2.mb-lg-0 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 1192px){
    .sub-container-icon-nav {
        font-size: 9px;
    }
    .navbar-nav.me-auto.mb-2.mb-lg-0 {
        font-size: 14px;
    }
    .navbar-brand {
        margin-right: 0rem;
        margin-left: -2rem;
    }
}
@media only screen and (max-width: 1038px) and (min-width:992px){
    .sub-container-icon-nav {
        font-size: 9px;
    }
    .navbar-nav.me-auto.mb-2.mb-lg-0 {
        font-size: 13px;
    }
    .navbar-brand {
        margin-right: 0rem;
        margin-left: -2rem;
    }
}

