.justify-content-center {
    margin-right: 40%;
}
.navbar-collapse{
    padding-left: 15rem;
}
/* .me-2 {
    margin-right: 13.5rem!important;
} */
/* .navbar {
    min-height: 70px;
} */
.nav-item{
    padding-right:25px;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.d-flex .btn-danger, .btn-outline-success{
    margin-right: 5px;
    margin-left: 5px;
}
.d-flex .me-2 {
    display: inline-block;
    height: 35px;
    font-size: 14px;
    line-height: 24px;
    width: 95%;
    padding: 7px 56px 10px 15px;
    border-radius: 4px 4px 4px 4px;
}
.f-dilvery {
    background-color: #FFFFFF;
}
.c-img-women{
    padding-top: 10px;
    padding-bottom:20rem;
    background-color: orange;
}
.text-content-shop-women {
    font-size: 62px;
    margin-top: -10rem;
    line-height: 1.6em;
    text-align: right;
    margin-right: 60px;
    color: #FFE9E3;
}
.poster-img {
    margin-left: 3rem;
}
.c-img-men{
    margin-top: 0px;
    background-color: red;
}
.poster2-img {
    margin-left: 50rem;
    padding-top: 22rem;
}
.poster4-img {
    margin-left: 50rem;
    margin-top: -40rem;
}
.shop-women1 {
    margin-top: -30rem;
}

.women-img-col {
    width:50%;
    float:left;
    margin-left:-12px;
    margin-right: 0px;
    padding-right: 40rem;
}
.men-img-col {
    width:50%;
    float:left;
    margin-left:10px;
    padding-left: 30px;
    padding-right: 30rem;
    margin-right: -120rem;
}
