.abt-buy-now {
    border-radius: 2.75rem;
    padding: 10px 34px;
    margin-bottom: 35px;
    color: black;
    background-color: rgb(255 2 2 / 68%);
    border: none;
}
.make-casual-unique {
    color: rgb(230, 113, 10);
    font-weight: bold;
    font-size: 3rem;
}
.me-3 {
    margin-top: 5px;
}
.icon-container {
    margin-left: 30px;
    margin-right: 30px;
}