.justify-content-center {
    margin-right: 40%;
}

.navbar-brand {
    margin-right: 7rem;
    margin-left: 1rem;
}

.navbar-brand img {
    width:150px;
}

.navbar {
    min-height: 50px;
}

.nav-cf {
    margin-top: -18px;
    margin-bottom: -10px;
}

.nav-cf-1 {
    padding-bottom: -300px;
}

.nav-cf-1 li {
    padding-top: 2px;
    font-weight: 500;
}

.nav-item{
    padding-right:25px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* Styling of Alert content */
.price-alert {
    margin-bottom: -10px;
    margin-top: -10px;
    padding-top: 3px;
    text-align: center;
    font-size: 19px;
    font-weight: medium;
}

.alert-dismissible .btn-close {
    padding: 1.0rem 1rem;
}

.price-alert .btn-close {
    font-size: 10px;
}

.strong-1 {
    color: red;
}

.strong-2 {
    color: brown;
}

.bg-success {
    margin-left: 20px;
}

.d-flex.d-flex-form {
    margin-top: 2px;
}

.d-flex.d-flex-form .btn.btn-outline-success{
    margin-right: 5px;
    margin-left: 5px;
    padding: 0.2rem 0.5rem;
}

.d-flex .me-2 {
    display: inline-block;
    height: 35px;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 10px 10px 15px;
    border-radius: 4px 4px 4px 4px;
    color: #696e79;
}

.dropdown-toggle::after {
    margin-left: 0.50em;
}

.visually-hidden {
    color: black;
}

.flex-shrink-0.dropdown {
    margin-right: 7rem;

}

#cart-logo {
    text-decoration: none;
    color: black
}

.sub-container-icon-nav {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    margin-top: 12px;
    font-size: 11px;
    font-weight: bold;
}

.dropdown.text-end {
    margin-right: 100px;
}

.contact-modal:hover {
    cursor: pointer;
}

/* 1197 */
@media only screen and (min-width: 1197px){
	.d-flex.d-flex-form {
        width: 35%;
        margin-right: 35px;
    }
}

/* 990 */
@media only screen and (max-width: 990px){
	.flex-shrink-0.dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 10px;
    }
}