.navbar-brand {
    margin-right: 7rem;
    margin-left: 1rem;
}

.navbar-brand img {
    width:150px;
}

.navbar {
    min-height: 50px;
}

.nav-cf {
    margin-top: -18px;
    margin-bottom: -10px;
}

.nav-cf-1 {
    padding-bottom: -300px;
}

.nav-cf-1 li {
    padding-top: 2px;
    font-weight: 500;
}

.nav-item{
    padding-right:25px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* Styling of Alert content */
.price-alert {
    margin-bottom: -10px;
    margin-top: -10px;
    padding-top: 3px;
    text-align: center;
    font-size: 19px;
    font-weight: medium;
}

.alert-dismissible .btn-close {
    padding: 1.0rem 1rem;
}

.price-alert .btn-close {
    font-size: 10px;
}

.strong-1 {
    color: red;
}

.strong-2 {
    color: brown;
}

.bg-success {
    margin-left: 20px;
}

.form-control .me-2{
    border-radius: 25px;
    /* margin-left: 20px; */
}

.d-flex.d-flex-form {
    margin-top: 2px;
}

#search-icon {
    border: none;
    margin-top: 5px;
    margin-right: -35px;
    padding: 14px;
    opacity: 0.8;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}

.d-flex .me-2 {
    display: flex;
    margin-top: 5px;
    overflow: hidden;;
    height: 35px;
    font-size: 14px;
    line-height: 24px;
    text-align:inherit;
    padding-top: 7px;
    padding-left: 35px;
    padding-bottom: 10px;
    /* padding: 7px 10px 10px 15px; */
    border-radius: 25px;
    color: #696e79;
}


.dropdown-toggle::after {
    margin-left: 0.50em;
}

.visually-hidden {
    color: black;
}

.flex-shrink-0.dropdown {
    margin-right: 7rem;

}

#cart-logo {
    text-decoration: none;
    color: black
}

.sub-container-icon-nav {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    margin-top: 12px;
    font-size: 11px;
    font-weight: bold;
}

.dropdown.text-end {
    margin-right: 100px;
}

.contact-modal:hover {
    cursor: pointer;
}

/* 1197 */
@media only screen and (min-width: 1197px){
	.d-flex.d-flex-form {
        width: 35%;
        margin-right: 35px;
    }
}

/* 990 */
@media only screen and (max-width: 990px){
	.flex-shrink-0.dropdown {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 10px;
    }
}