.sbe-shop-now {
    border-radius: 2.75rem;
    padding: 13px 64px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: black;
    background-color: rgba(165, 42, 42, 0.684);
    border: none;
}

.card.men-women {
    display: inline-block;
    border: none;
}

.card-img-top {
    cursor: default;
}

#Women-Men .card-group .card .card-img-top:hover {
    transform:scale(1.0010);
}

.card-title {
    text-align: center;
}

.card-title a {
    color: orange;
    text-decoration: none;
}

.sbe-text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 30px;
    margin-left:5px;
    margin-right: 5px;
}

.bi-megaphone-fill {
    color: red;
}