.sbe-shop-now {
    border-radius: 2.75rem;
    padding: 13px 64px;
    margin-top: 15px;
    margin-bottom: 35px;
    color: black;
    background-color: rgb(255 2 2 / 68%);
    border: none;
}

.card.men-women {
    display: inline-block;
    border: none;
}

.card-img-top {
    cursor: default;
}
/* 
#myVideo {
    max-width: 100%;
    max-height: 100%;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
} */

#Women-Men .card:hover {
    transform:scale(1.05000);
}

#Women-Men {
    /* background-color: #e8e6e66e; */
    background-color: #f4f4f4;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-title {
    text-align: center;
}

.card-title a {
    /* color: orange; */
    color: rgb(255 2 2 / 68%);
    text-decoration: none;
}

.sbe-text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 30px;
    margin-left:5px;
    margin-right: 5px;
}

.bi-megaphone-fill {
    color: red;
}