.clothes-image-container {
    /* margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px; */
    border: 1px solid;
    /* width: 60%; */
}

.my-3 .card .card-img-top {
    height: "10%";
}

.my-3 .card-group {
    text-decoration: none;
}

.col-md-3 .my-3 .card-group:hover {
    transform: scale(1.02741);
}

