.filters-with-clothes-container {
    display: flex;
}

.filters-container {
    display: flexbox;
    height: 100%;
    /* width: 255px; */
    border: 1px solid;
    height: 10%; 
    padding-left: 30px;
    margin-left: -1rem;
}

.garments-collection-container {
    margin-bottom: 20px;
}

#product-price {
    color: brown;
}

@media only screen and (max-width: 477px) and (min-width: 323px) 
{
    .filters-container {
        /* width: 175px; */
        display: none;
    }
}