.filters-with-clothes-container {
    display: flex;
}

.filters-container {
    display: inline-block;
    /* width: 20%; */
    height: 100%;
    width: 305px;
    /* background-color: red; */
    border: 1px solid;
    height: 10%; 
    padding-left: 30px;
    margin-left: -1rem;
}

/* .clothes-image-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
} */

.garments-collection-container {
    margin-bottom: 20px;
}

#product-price {
    color: brown;
}