
.product-details-container-2 {
    display: flex;
}
.product-image-container {
    padding-top: 120px;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
    width: 45.5%;
    padding-left: 100px;
    background-color: green;
}
#product-title{
    font-size: 25px;
    font-weight: 499;
}
.product-description-container {
    /* background-color:red; */
    margin-left: 50px;
    width: 38%;
    padding-top: 30px;
}

#product-price {
    font-size: 20px;
    color: brown;
}
.dropdown-toggle-size {
    border: 1px solid;
    margin-bottom: 10px;
}
.dropdown-menu {
    margin-top: 20px;
}
.usp li {
    font-size: 15px;
}
.product-details-container-2 {
    margin-top: 30px;
    /* background-color: yellow; */
}
/* .mb-3 {
    background-color: yellow;

} */
/* .col-md-4{
    background-color: green;
    width: 40%;
} */


.rating-container {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.bi-star, .bi-star-fill {
    margin-left: -10px;
    color: orange;
    padding-left: 2px;
    padding-right: 2px;
}
.colours-container {
    display: flex;
}
.colours-container-1 {
    margin-left:1px;
    margin-right:10px;
    border: 1px solid #c9c6c6;
    cursor: pointer;
}
#product-colour {
    font-weight: normal;
}
.filters {
    display: flex;
}

.filters-container {
    /* width: 100%; */
    /* background-color: red; */
    border: 1px solid;
    height: 100%; 
    /* margin-right: 20px; */
    padding-right: 40px;
}

.btn-add-to-card {
    border-radius: 3rem;
    padding: 5px 34px;
    color: black;
    margin: 20px 20px;
    background-color: yellow;
    border: none;
}

.btn-buy-now {
    border-radius: 3rem;
    padding: 5px 64px;
    color: black;
    margin: 20px 30px;
    background-color: orange;
    border: none;
}
.btn-add-to-wishlist {
    border-radius: 3rem;
    padding: 5px 44px;
    color: black;
    margin: 20px 0px;
    /* background-color: rgb(255 2 2 / 82%); */
    background-color: aqua;
    border: none;
}

.btn-container {
    margin-left: 15px;
}

/* @media only screen and (max-width: 485px){
	.btn-add-to-card {
        padding: 10px 134px;
        margin-left: 32px;
        margin-right: 32px;
    }
    .btn-buy-now {
        padding: 10px 144px;
        margin-left: 32px;
        margin-right: 32px;
    }
    .btn-add-to-wishlist {
        padding: 10px 124px;
        margin-left: 32px;
        margin-right: 32px;
    }

} */